* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

ul {
  list-style: none;
}

header nav {
  padding: 1.2rem 5%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

nav li {
  display: inline;
  vertical-align: middle;
  font-weight: 600;
  color: #333333;
  font-size: 0.95rem;
}

nav li + li {
  margin-left: 2rem;
}

nav li:nth-last-of-type(2) {
  display: none;
}

nav li:last-of-type {
  position: absolute;
  top: 0;
  right: 5%;
}

nav li:last-of-type .btn {
  padding: 0.5rem 1rem;
  letter-spacing: 0.5px;
}

nav .icon {
  color: #000000;
  font-size: 25px;
  display: none;
}

section.padding {
  padding: 2rem 5%;
}

h1,
h2 {
  font-family: "Lato";
  font-size: 4.15rem;
  line-height: 1.15;
  font-weight: 900;
  margin-bottom: 2rem;
  color: #111;
}

h2 {
  font-size: 3.5rem;
}

p,
ul {
  font-size: 1.25rem;
  font-weight: 600;
  color: #1d1d1d;
  line-height: 1.5;
}

.logo {
  margin-top: 0.25rem;
  height: 1.5rem;
}

.max-logo,
.mini-logo,
#nav-trigger {
  display: none;
}

section video {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.btn {
  padding: 1.25rem 1rem;
  display: block;
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 0.9rem;
  border-radius: 4px;
  transition: 300ms all;
  margin: 1rem auto;
  cursor: pointer;
}

.border-white {
  border: 1px solid white;
}

.border-purple {
  border: 1px solid #611f69;
}

.bg-white {
  background-color: white;
}

.bg-purple {
  background-color: #611f69;
}

.btn.bg-purple:hover {
  background-color: #4a154b;
}

.btn.border-purple:hover {
  box-shadow: inset 0px 0px 1px 1px #4a154b;
}

.btn.border-white:hover {
  box-shadow: inset 0px 0px 1px 1px #ffffff;
}

.text-white {
  color: white;
}

.text-purple {
  color: #611f69;
}

section .vertical {
  display: none;
}

.hover-underline {
  display: inline-block;
  color: #1264a3;
  cursor: pointer;
  font-weight: 600;
  line-height: unset;
  padding: 1rem 0;
}

.hover-underline::after {
  content: "";
  display: block;
  width: 0;
  height: 0.15rem;
  background: #1264a3;
  transition: 0.3s;
}

.hover-underline:hover::after {
  width: 100%;
}

.hover-underline span {
  font-size: 2rem;
}

.hover-inset {
  color: #1264a3;
  cursor: pointer;
  display: inline-block;
  border-bottom: 1px solid #1264a3;
}

.hover-inset::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: #1264a3;
  transition: 0s;
}

.hover-inset:hover::after {
  width: 100%;
}

.section-1,
.section-2,
.section-3,
.section-4 .row-2,
.section-4 .row-3,
.section-5 .row-1,
.section-5 .row-2,
.section-6 .row-1,
.footer-section-1,
.footer-section-1 .col-2 {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.section-1 {
  background-color: #f6efe8;
}

.section-1 .col-1 {
  flex: 5;
}

.section-1 .col-2 {
  flex: 7;
  margin-left: 5%;
}

.section-1 button {
  margin-top: 2rem;
  display: inline-block;
  width: 49%;
}

.section-1 p:last-of-type {
  font-size: 0.85rem;
}

.section-2 .col-1 {
  flex: 7;
}

.section-2 .col-2 {
  flex: 5;
  margin-left: 5%;
}

.section-2 video {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.section-3 {
  align-items: unset;
}

.section-3 .icons {
  display: block;
  width: 3rem;
  height: 3rem;
  filter: invert(18%) sepia(51%) saturate(7113%) hue-rotate(194deg)
    brightness(87%) contrast(86%);
}

.section-3 h3 {
  display: inline-block;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.section-4 {
  background-color: #f5f5f5;
}

.section-4 .row-1 {
  text-align: center;
}

.section-4 .row-1 h2 {
  padding: 0 15%;
  margin-bottom: 0;
}

.section-4 .row-2 {
  margin-top: 2rem;
}

.section-4 .row-2 .col-1 {
  flex: 6;
  margin-left: -5rem;
  align-self: flex-end;
}

.section-4 .row-2 .col-2 {
  flex: 6;
  margin-left: 5%;
}

.section-4 .row-2 .col-2 p:first-of-type {
  font-size: 1.75rem;
  font-weight: 400;
  font-style: italic;
}

.section-4 .row-2 .col-2 img {
  display: block;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.section-4 .row-2 .col-2 p:last-of-type span {
  font-weight: bold;
}

.section-4 .row-2 .col-2 p:last-of-type {
  font-size: 1.25rem;
  font-weight: 500;
}

.section-4 .row-3 {
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 4rem;
}

.section-4 .row-3 img {
  margin: 1rem;
}

.section-5 {
  background-color: #f6efe8;
}

.section-5 ul {
  margin: 1rem 0;
  position: relative;
}

.section-5 ul li {
  margin-left: 1.5rem;
  padding: 0.5rem 0;
}

.section-5 ul li span {
  position: absolute;
  left: 0;
}

.section-5 ul li span img {
  width: 1rem;
  height: 1rem;
  filter: invert(17%) sepia(36%) saturate(2968%) hue-rotate(268deg)
    brightness(92%) contrast(99%);
}

.section-5 .col-1,
.section-5 .col-2 {
  flex: 6;
}

.section-5 .row-1 .col-2 img {
  width: 100%;
}

.section-5 .row-2 .col-1 img {
  width: 60%;
}

.section-5 .row-2 .col-1 {
  text-align: center;
}

.section-6 {
  text-align: center;
  background-color: #fefefe;
}

.section-6 .row-1 {
  margin: 2rem 0;
  justify-content: space-evenly;
}

.section-6 .row-1 div {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
  width: 22%;
  height: 30rem;
  text-align: left;
  padding: 1rem;
  position: relative;
  cursor: pointer;
  transition: transform 0.5s;
}

.section-6 .row-1 div:hover {
  transform: scale(1.05);
}

.section-6 .row-1 div img {
  width: 100%;
}

.section-6 .row-1 div p:first-of-type {
  margin-top: 2rem;
  color: #454545;
  font-size: 0.95rem;
}

.section-6 .row-1 div p:nth-of-type(2) {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.75rem;
}

.section-6 .row-1 div p:last-of-type {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  color: #1264a3;
  font-size: 1.1rem;
}

.section-6 .row-1 div span {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: #1264a3;
  font-size: 2rem;
  font-weight: 1000;
}

.section-6 button {
  margin-top: 4rem;
  width: 25%;
  background-color: #ffffff;
}

.section-7 {
  text-align: center;
  background-color: #611f69;
}

.section-7 h2 {
  color: #ffffff;
}

.section-7 button {
  display: inline-block;
  width: 20%;
}

.section-7 button + button {
  margin-left: 1rem;
}

footer {
  padding-top: 3rem;
}

.footer-section-1 {
  background-color: #ffffff;
}

.footer-section-1 .col-1 {
  flex: 3;
  align-self: flex-start;
}

.footer-section-1 .col-1 img {
  width: 4rem;
  height: 4rem;
}

.footer-section-1 .col-2 {
  flex: 9;
  align-items: unset;
  padding: 0;
}

.footer-section-1 ul .footer-header {
  font-size: 1rem;
  font-weight: bold;
  color: #454545;
}

.footer-section-1 ul .footer-item {
  color: #696969;
  font-size: 0.95rem;
  margin: 0.75rem 0;
  cursor: pointer;
}

.footer-section-1 ul .footer-item:hover {
  color: #1264a3;
}

.footer-section-2 {
  background-color: #f5f5f5;
  padding: 2rem 5% 3.75rem 5%;
}

.footer-section-2 .col-1 {
  float: left;
}

.footer-section-2 ul li {
  display: inline;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  color: #454545;
}

.footer-section-2 ul li + li {
  margin-left: 1rem;
}

.footer-section-2 ul li:hover {
  color: #1264a3;
}

.footer-section-2 .col-2 {
  float: right;
  margin-top: 0.25rem;
}

.footer-section-2 img {
  display: inline-block;
  width: 1.5rem;
  height: 1.5rem;
  cursor: pointer;
  filter: invert(22%) sepia(100%) saturate(0%) hue-rotate(256deg)
    brightness(104%) contrast(102%);
}

.footer-section-2 img + img {
  margin-left: 1rem;
}

.footer-section-2 img:hover {
  filter: invert(26%) sepia(90%) saturate(1283%) hue-rotate(184deg)
    brightness(91%) contrast(88%);
}

.footer-section-3 {
  padding: 1rem 5%;
  background-color: #ebeaeb;
}

.footer-section-3 p {
  font-size: 0.85rem;
}

@media screen and (max-width: 650px) {
  header {
    padding: 2rem 0 !important;
  }

  .max-logo,
  .mini-logo {
    height: 1.5rem !important;
  }

  #nav-trigger {
    font-size: 1.5rem !important;
  }

  .nav a {
    font-size: 1rem !important;
    margin-top: 2rem !important;
  }

  nav li:nth-last-of-type(2) {
    width: 100% !important;
  }

  nav li:last-of-type {
    width: 100% !important;
  }

  nav li:last-of-type a {
    margin-top: 1rem !important;
  }

  h1,
  h2 {
    font-size: 2.5rem !important;
    margin-bottom: 1.25rem !important;
  }

  h2 {
    font-size: 2.25rem !important;
  }

  p,
  ul {
    font-size: 1rem !important;
  }

  .section-1,
  .section-3,
  .section-4,
  .section-5 {
    display: block;
    padding: 2rem 1rem !important;
  }

  .section-1 {
    margin-top: 4rem !important;
  }

  .section-1 video {
    margin-top: 2rem;
  }

  .section-2 {
    flex-flow: column-reverse nowrap;
  }

  .section-3 > div + div {
    margin-top: 2rem;
  }

  .section-3 .icons {
    width: 3rem;
    height: 3rem;
  }

  .section-3 h3 {
    margin-top: 1.15rem;
    margin-bottom: 1rem;
    font-size: 1rem;
  }

  .section-4 .row-1 {
    text-align: left;
  }

  .section-4 .row-1 h2 {
    padding: 0 !important;
    margin-bottom: 0 !important;
  }

  .section-4 .row-2 {
    display: block;
    padding: 2rem 0;
  }

  .section-4 .row-2 .col-2 {
    margin-left: 0 !important;
    margin-top: 2rem;
  }

  .section-4 .row-2 .col-2 p:first-of-type {
    font-size: 1.25rem !important;
  }

  .section-4 .row-2 .col-2 p:last-of-type {
    font-size: 1.25rem !important;
  }

  .section-4 .row-3 {
    margin-top: 0 !important;
  }

  .section-5 .row-1 {
    display: block;
  }

  .section-5 .row-2 {
    display: flex;
    flex-flow: column-reverse nowrap;
  }

  .section-6 .row-1 {
    flex-flow: column nowrap;
    align-items: center;
  }

  .section-6 .row-1 div {
    margin: 1.5rem 0 !important;
    width: 75% !important;
  }

  .section-6 .row-1 div p:nth-of-type(2) {
    font-size: 1.25rem !important;
  }

  .section-6 button {
    margin: 0 auto !important;
    width: 75% !important;
  }

  .section-7 button {
    width: 75% !important;
  }

  .section-7 button + button {
    margin-left: 0 !important;
  }

  .footer-section-1 .col-2 {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row-gap: 2rem;
  }

  .footer-section-2 {
    padding: 2rem 1rem;
  }

  .footer-section-2 .col-1 ul {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-bottom: 2rem;
  }

  .footer-section-2 .col-1 ul li {
    font-size: 0.9rem;
    margin: 0.5rem;
  }

  .footer-section-2 .col-2 {
    float: none;
    text-align: center;
  }

  .footer-section-3 p {
    font-size: 0.75rem !important;
    text-align: center;
  }
}

@media screen and (max-width: 1023px) {
  header {
    position: fixed;
    width: 100%;
    top: 0;
    height: 4rem;
    z-index: 1;
    background-color: #ffffff;
    padding: 2.5rem 0;
  }

  .max-logo {
    display: unset;
    height: 2rem;
    position: fixed;
    top: 1.5rem;
    left: 2rem;
  }

  #nav-trigger {
    display: unset;
    position: fixed;
    z-index: 1;
    top: 1.2rem;
    right: 2rem;
    font-size: 2rem;
  }

  nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    padding: 2rem;
    background: #ffffff;
    transform: translateX(100%);
    transition: transform 0.5s;
  }

  .nav-open nav {
    transform: translateX(0);
  }

  .mini-logo {
    display: block;
    font-size: 15px;
    height: 2rem;
    margin-top: 0.5rem;
  }

  .nav a {
    display: block;
    font-size: 1.5rem;
    margin-top: 3rem;
  }

  nav li + li {
    margin-left: 0;
  }

  nav li:first-of-type {
    display: none;
  }

  nav li:nth-last-of-type(2) {
    display: unset;
    float: left;
    width: 49%;
  }

  nav li:last-of-type {
    position: unset;
    float: right;
    width: 49%;
  }

  nav li:last-of-type .btn {
    padding: 1.25rem 1rem;
    letter-spacing: 1px;
  }

  h1,
  h2 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  p,
  ul {
    font-size: 1.25rem;
  }

  .hover-underline {
    padding: 0;
  }

  section .vertical {
    display: block;
  }

  section .horizontal {
    display: none;
  }

  .section-1 {
    margin-top: 5rem;
  }

  .section-1 .col-1 {
    flex: 6;
  }

  .section-1 .col-2 {
    flex: 6;
    margin-left: 3%;
  }

  .section-1 .col-1 button {
    display: block;
    width: 100%;
    margin-top: 1rem;
  }

  .section-2 {
    flex-flow: column-reverse nowrap;
  }

  .section-2 .col-1 {
    flex: 6;
    margin-top: 2rem;
  }

  .section-2 .col-2 {
    flex: 6;
    margin-left: 0;
  }

  .section-4 .row-1 h2 {
    padding: 0 3%;
  }

  .section-4 .row-2 .col-1 {
    align-self: center;
  }

  .section-4 .row-2 .col-2 {
    font-size: 1.5rem;
    margin-left: 3%;
  }

  .section-4 .row-3 {
    margin-top: 2rem;
  }

  .section-5 .row-2 {
    margin-top: 2rem;
  }

  .section-6 .row-1 div {
    width: 30%;
    height: 25rem;
  }

  .section-6 .row-1 div p:first-of-type {
    margin-top: 1rem;
  }

  .section-6 .row-1 div p:nth-of-type(2) {
    font-size: 1.25rem;
  }

  .section-6 button,
  .section-7 button {
    width: 35%;
  }

  .section-7 button + button {
    margin-left: 1rem;
  }

  .footer-section-1 {
    display: block;
    margin: 0;
  }

  .footer-section-1 img {
    margin-bottom: 2rem;
  }

  .footer-section-2 p {
    font-size: 0.75rem;
  }
}
