* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: "Open Sans", sans-serif;
}

a {
  text-decoration: none;
  color: unset;
}

ul {
  list-style: none;
}

header {
  position: fixed;
  width: 100%;
  background-color: #ffffff;
}

nav {
  padding: 1.15rem 5%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

nav li {
  display: inline;
  vertical-align: middle;
  font-weight: 600;
  color: #333333;
  font-size: 0.95rem;
}

nav li + li {
  margin-left: 2rem;
}

nav li:nth-last-of-type(2) {
  display: none;
}

nav li:last-of-type {
  position: absolute;
  top: 0;
  right: 5%;
}

nav li:last-of-type .btn {
  padding: 0.5rem 1rem;
  letter-spacing: 0.5px;
}

nav .icon {
  color: #000000;
  font-size: 25px;
  display: none;
}

section.padding {
  padding: 5rem 5%;
}

h1,
h2 {
  font-family: "Lato";
  font-size: 4.15rem;
  line-height: 1.15;
  font-weight: 900;
  margin-bottom: 2rem;
  color: #111;
}

h2 {
  font-size: 3rem;
}

p,
ul {
  font-size: 1.1rem;
  font-weight: 600;
  color: #1d1d1d;
  line-height: 1.5;
}

.logo {
  margin-top: 0.25rem;
  height: 1.5rem;
}

.max-logo,
.mini-logo,
#nav-trigger {
  display: none;
}

section video {
  display: block;
  max-width: 100%;
  margin: 0 auto;
}

.btn {
  padding: 1.25rem 1rem;
  display: block;
  text-align: center;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 0.9rem;
  border-radius: 4px;
  transition: 300ms all;
  margin: 1rem auto;
  cursor: pointer;
}

.border-white {
  border: 1px solid white;
}

.border-purple {
  border: 1px solid #611f69;
}

.bg-white {
  background-color: white;
}

.bg-purple {
  background-color: #611f69;
}

.bg-dark-purple {
  background-color: #4a154b;
}

.btn.bg-purple:hover {
  background-color: #4a154b;
}

.btn.border-purple:hover {
  box-shadow: inset 0px 0px 1px 1px #4a154b;
}

.btn.border-white:hover {
  box-shadow: inset 0px 0px 1px 1px #ffffff;
}

.text-white {
  color: white;
}

.text-purple {
  color: #611f69;
}

section .vertical {
  display: none;
}

.link-hover {
  display: inline-block;
  color: #1264a3;
  cursor: pointer;
  border-bottom: 1px solid #1264a3;
}

.link-hover::after {
  content: "";
  display: block;
  width: 0;
  height: 1px;
  background: #1264a3;
  transition: 0s;
}

.link-hover:hover::after {
  width: 100%;
}

.feature-link {
  display: inline-block;
  color: #1264a3;
  cursor: pointer;
  font-size: 1.1rem;
  font-weight: 600;
  line-height: 2rem;
  margin-top: 0.5rem;
}

.feature-link::after {
  content: "";
  display: block;
  width: 0;
  height: 0.125rem;
  background: #1264a3;
  transition: 0.3s;
}

.feature-link:hover::after {
  width: 98%;
}

.feature-link span {
  font-size: 2rem;
}

.main-section,
.team-section,
.feature-section,
.customer-section__showcase,
.customer-section__partner,
.option-section__integration,
.option-section__enterprise,
.card-section__content,
.footer-menu,
.footer-menu__list-block {
  display: flex;
  flex-flow: row nowrap;
  justify-content: space-between;
  align-items: center;
}

.main-section {
  background-color: #f6efe8;
  padding-top: 9rem !important;
}

.main-section__content {
  flex: 5;
}

.main-section__video {
  flex: 7;
  padding-left: 5%;
}

.main-section button {
  margin-top: 2rem;
  display: inline-block;
  width: 49%;
}

.main-section__content__workspace {
  font-size: 0.85rem;
}

.team-section__video {
  flex: 7;
}

.team-section__content {
  flex: 5;
  padding-left: 5%;
}

.team-section__video {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
  border-radius: 5px;
}

.feature-section {
  align-items: unset;
  padding-top: 0 !important;
}

.feature-section__card {
  padding: 0 1rem;
}

.feature-section__icons {
  display: block;
  width: 3rem;
  height: 3rem;
  filter: invert(18%) sepia(51%) saturate(7113%) hue-rotate(194deg)
    brightness(87%) contrast(86%);
}

.feature-section__header {
  display: inline-block;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
  font-size: 1.25rem;
  font-weight: 600;
}

.customer-section {
  background-color: #f5f5f5;
}

.customer-section__content {
  text-align: center;
}

.customer-section__content__header {
  padding: 0 15%;
  margin-bottom: 0.5rem;
}

.customer-section__showcase {
  margin-top: 2rem;
}

.customer-section__showcase__img {
  flex: 6;
  margin-left: -5rem;
  align-self: flex-end;
}

.customer-section__showcase__content {
  flex: 6;
  padding-left: 5%;
}

.customer-section__showcase__content__header {
  font-size: 1.75rem;
  font-weight: 400;
  font-style: italic;
}

.customer-section__showcase__content__img {
  display: block;
  margin-top: 1.5rem;
  margin-bottom: 1rem;
}

.customer-section__showcase__content__header-copy {
  font-size: 1.25rem;
  font-weight: 500;
}

.customer-section__showcase__content__header-copy span {
  font-weight: bold;
}

.customer-section__partner {
  flex-flow: row wrap;
  justify-content: space-around;
  margin-top: 4rem;
}

.customer-section__partner__img {
  margin: 1rem;
}

.option-section {
  background-color: #f6efe8;
}

.option-section__integration__content,
.option-section__integration__img,
.option-section__enterprise__img,
.option-section__enterprise__content {
  flex: 6;
}

.option-section__feature-list__options {
  margin-top: 1rem;
}

.option-section__feature-list__options::before {
  display: inline-block;
  content: "";
  background-image: url("https://www.flaticon.com/svg/static/icons/svg/1828/1828739.svg");
  background-repeat: no-repeat;
  background-size: 1rem;
  width: 1rem;
  height: 1rem;
  margin-right: 0.25rem;
  filter: invert(17%) sepia(36%) saturate(2968%) hue-rotate(268deg)
    brightness(92%) contrast(99%);
}

.option-section__enterprise {
  margin: 2rem 0;
}

.option-section__enterprise__img {
  text-align: center;
}

.option-section__integration__content {
  padding-right: 15%;
}

.option-section__enterprise__content {
  padding-left: 15%;
}

.option-section__integration__img img {
  width: 100%;
}

.option-section__enterprise__img img {
  width: 60%;
}

.card-section {
  text-align: center;
  background-color: #fefefe;
}

.card-section__content {
  margin: 4rem 0;
  justify-content: space-evenly;
}

.card-section__content__card {
  -webkit-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
  box-shadow: 0px 0px 15px 0px rgba(0, 0, 0, 0.25);
  width: 22%;
  height: 30rem;
  text-align: left;
  padding: 1rem;
  position: relative;
  cursor: pointer;
  transition: transform 0.5s;
}

.card-section__content__card:hover {
  transform: scale(1.05);
}

.card-section__content__card__img {
  width: 100%;
}

.card-section__content__card__sub-text {
  margin-top: 2rem;
  color: #454545;
  font-size: 0.95rem;
}

.card-section__content__card__main-text {
  margin-top: 0.5rem;
  font-size: 1.5rem;
  font-weight: bold;
  line-height: 1.75rem;
}

.card-section__content__card__link-text {
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  color: #1264a3;
  font-size: 1.1rem;
}

.card-section__content span {
  position: absolute;
  bottom: 1rem;
  right: 1rem;
  color: #1264a3;
  font-size: 2rem;
  font-weight: 1000;
}

.card-section__btn-resources {
  width: 25%;
}

.work-section {
  text-align: center;
  background-image: url("https://a.slack-edge.com/80588/spacesuit/source/images/backgrounds/bg-halftone-black-20p.png");
  background-color: #4a154b;
}

.work-section h2 {
  color: #ffffff;
}

.work-section button {
  display: inline-block;
  width: 20%;
}

.work-section button + button {
  margin-left: 1rem;
}

.footer-menu {
  background-color: #ffffff;
  padding: 5rem 5%;
}

.footer-menu__logo {
  flex: 3;
  align-self: flex-start;
}

.footer-menu__logo__img {
  width: 4rem;
  height: 4rem;
}

.footer-menu__list-block {
  flex: 9;
  align-items: unset;
  padding: 0;
}

.footer-menu__list-header {
  font-size: 1rem;
  font-weight: bold;
  color: #454545;
}

.footer-menu__list-item {
  color: #696969;
  font-size: 0.95rem;
  margin: 0.75rem 0;
  cursor: pointer;
}

.footer-menu__list-item:hover {
  color: #1264a3;
}

.footer-contact {
  background-color: #f5f5f5;
  padding: 1.5rem 5% 3.25rem 5%;
}

.footer-contact__list-block {
  float: left;
}

.footer-contact__list-item {
  display: inline;
  font-size: 0.9rem;
  font-weight: bold;
  cursor: pointer;
  color: #454545;
}

.footer-contact__list-item + .footer-contact__list-item {
  margin-left: 1rem;
}

.footer-contact__list-item:hover {
  color: #1264a3;
}

.footer-contact__social-block {
  float: right;
  margin-top: 0.25rem;
}

.footer-contact__social-img {
  display: inline-block;
  width: 1.25rem;
  height: 1.25rem;
  cursor: pointer;
  filter: invert(22%) sepia(100%) saturate(0%) hue-rotate(256deg)
    brightness(104%) contrast(102%);
}

.footer-contact__social-img + .footer-contact__social-img {
  margin-left: 1rem;
}

.footer-contact__social-img:hover {
  filter: invert(26%) sepia(90%) saturate(1283%) hue-rotate(184deg)
    brightness(91%) contrast(88%);
}

.footer-copyright {
  padding: 1rem 5%;
  background-color: #ebeaeb;
}

.footer-copyright__text {
  font-size: 0.7rem;
  color: #454545;
}

@media screen and (max-width: 650px) {
  header {
    height: 0.5rem !important;
  }

  .max-logo {
    top: 1.5rem !important;
  }

  #nav-trigger {
    top: 1.25rem !important;
    font-size: 1.5rem !important;
  }

  .max-logo,
  .mini-logo {
    height: 1.5rem !important;
  }

  nav {
    padding: 1rem 2rem !important;
  }

  .nav a {
    font-size: 1rem !important;
    margin-top: 2rem !important;
  }

  nav li:nth-last-of-type(2) {
    width: 100% !important;
  }

  nav li:last-of-type {
    width: 100% !important;
  }

  nav li:last-of-type a {
    margin-top: 1rem !important;
  }

  h1,
  h2 {
    font-size: 2.5rem !important;
    margin-bottom: 1.25rem !important;
  }

  h2 {
    font-size: 2rem !important;
  }

  p,
  ul {
    font-size: 1rem !important;
  }

  .feature-link {
    font-size: 1rem !important;
  }

  section.padding {
    padding: 2rem 1rem !important;
  }

  .main-section,
  .feature-section,
  .option-section,
  .customer-section__showcase,
  .option-section__integration {
    display: block;
  }

  .main-section {
    margin-top: 4rem !important;
  }

  .main-section__video {
    margin-top: 2rem;
  }

  .team-section {
    flex-flow: column-reverse nowrap;
  }

  .feature-section__card {
    padding-left: 0.25rem;
  }

  .feature-section__card + .feature-section__card {
    margin-top: 2rem;
  }

  .feature-section__icons {
    width: 3rem;
    height: 3rem;
  }

  .feature-section__header {
    margin-top: 1.15rem;
    margin-bottom: 1rem;
    font-size: 1rem;
  }

  .customer-section__content {
    text-align: left;
  }

  .customer-section__content__header {
    padding: 0 !important;
    margin-bottom: 0 !important;
  }

  .customer-section__showcase__content {
    margin-top: 2rem;
    padding-left: 0 !important;
  }

  .customer-section__showcase__content__header {
    padding-left: 0 !important;
    font-size: 1.25rem !important;
  }

  .customer-section__showcase__content__header-copy {
    font-size: 1.25rem !important;
  }

  .option-section__enterprise {
    display: flex;
    flex-flow: column-reverse nowrap;
    margin-top: 0 !important;
  }

  .option-section__enterprise__img {
    margin-top: 2rem;
  }

  .option-section__integration__content {
    padding-right: 0 !important;
  }

  .option-section__enterprise__content {
    padding-left: 0 !important;
  }

  .card-section__content {
    flex-flow: column nowrap;
    align-items: center;
    margin: 0 !important;
  }

  .card-section__content__card {
    margin: 1.5rem 0 !important;
    width: 75% !important;
  }

  .card-section__content__card__main-text {
    font-size: 1.25rem !important;
  }

  .card-section button {
    margin: 1rem auto !important;
    width: 75% !important;
  }

  .work-section button {
    width: 75% !important;
  }

  .work-section button + button {
    margin-left: 0 !important;
  }

  .footer-menu__list-block {
    display: grid;
    grid-template-columns: 50% 50%;
    grid-row-gap: 2rem;
  }

  .footer-contact {
    padding: 2rem 1rem;
  }

  .footer-contact__list-menu {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    margin-bottom: 2rem;
  }

  .footer-contact__list-item {
    font-size: 0.9rem;
    margin: 0.5rem;
  }

  .footer-contact__social-block {
    float: none;
    text-align: center;
  }

  .footer-copyright__text {
    font-size: 0.75rem !important;
    text-align: center;
  }
}

@media screen and (max-width: 1024px) {
  header {
    height: 6rem;
  }

  .max-logo {
    display: unset;
    height: 2rem;
    position: fixed;
    top: 2.2rem;
    left: 2rem;
  }

  #nav-trigger {
    display: unset;
    position: fixed;
    z-index: 2;
    top: 1.75rem;
    right: 2rem;
    font-size: 2rem;
  }

  nav {
    position: fixed;
    top: 0;
    right: 0;
    height: 100%;
    width: 100%;
    z-index: 1;
    padding: 2rem;
    background-color: #ffffff;
    transform: translateX(100%);
    transition: transform 0.5s;
  }

  .nav-open nav {
    transform: translateX(0);
  }

  .mini-logo {
    display: block;
    font-size: 15px;
    height: 2rem;
    margin-top: 0.5rem;
  }

  .nav a {
    display: block;
    font-size: 1.5rem;
    margin-top: 3rem;
  }

  nav li + li {
    margin-left: 0;
  }

  nav li:first-of-type {
    display: none;
  }

  nav li:nth-last-of-type(2) {
    display: unset;
    float: left;
    width: 49%;
  }

  nav li:last-of-type {
    position: unset;
    float: right;
    width: 49%;
  }

  nav li:last-of-type .btn {
    padding: 1.25rem 1rem;
    letter-spacing: 1px;
  }

  h1,
  h2 {
    font-size: 3rem;
    margin-bottom: 1.5rem;
  }

  h2 {
    font-size: 2.5rem;
  }

  p,
  ul {
    font-size: 1.25rem;
  }

  section.padding {
    padding: 3rem 2rem;
  }

  section .vertical {
    display: block;
  }

  section .horizontal {
    display: none;
  }

  .main-section__content {
    flex: 6;
  }

  .main-section__video {
    flex: 6;
    padding-left: 3%;
  }

  .main-section__content button {
    display: block;
    width: 100%;
    margin-top: 1rem;
  }

  .team-section {
    flex-flow: column-reverse nowrap;
  }

  .team-section__video {
    flex: 6;
    margin-top: 2rem;
  }

  .team-section__content {
    flex: 6;
    padding-left: 0;
  }

  .feature-section {
    padding-top: 2rem !important;
  }

  .customer-section__content__header {
    padding: 0 3%;
  }

  .customer-section__showcase__img {
    align-self: center;
  }

  .customer-section__showcase__content {
    padding-left: 3%;
  }

  .customer-section__showcase__content__header {
    line-height: 1.35;
    font-size: 1.5rem;
  }

  .customer-section__partner {
    margin-top: 3rem;
  }

  .option-section__integration__content {
    padding-right: 3%;
  }

  .option-section__enterprise__content {
    margin-top: 3rem;
    padding-left: 3%;
  }

  .card-section__content {
    margin: 3rem 0;
  }

  .card-section__content__card {
    width: 30%;
    height: 25rem;
  }

  .card-section__content__card__sub-text {
    margin-top: 1rem;
  }

  .card-section__content__card__main-text {
    font-size: 1.25rem;
  }

  .card-section button,
  .work-section button {
    width: 35%;
  }

  .work-section button + button {
    margin-left: 1rem;
  }

  .footer-menu {
    display: block;
    padding: 3rem 2rem;
  }

  .footer-menu__logo__img {
    margin-bottom: 2rem;
  }
}
